/* JobApplications.css */
.application-feed-container {
  padding: 20px;
  background-color: #f8f9fa; /* Light gray */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.application-feed-div h4 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.application-feed-div ul {
  list-style: none;
  padding: 0;
}

.application-feed-div li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.application-feed-div ul li button {
  border: none;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.application-feed-div ul li button:hover {
  opacity: 0.9;
}

.application-feed-div ul li button:first-child {
  background-color: #007bff; /* Blue for View Details */
}

.application-feed-div ul li button:nth-child(2) {
  background-color: #dc3545; /* Red for Delete */
}

.application-feed-div ul li button:last-child {
  background-color: #28a745; /* Green for Send Email */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

.send-email-modal {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.send-email-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.send-email-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.send-email-form input,
.send-email-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.send-email-form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-email-form button:hover {
  background-color: #0056b3;
}



